<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>This app requires camera access to record videos.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>This app requires microphone access to record audio with your videos.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>This app needs access to your photo library to save recorded videos.</string>
</dict>
</plist>
